@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    
}

/* ==== side bar ===== */

#header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
}

.left-side-bar {
    display: inline-block;
    width: 300px;
    items-align: center;
    background-color: black;
    height: 100vh;
}

 #header .profile img{

    width: 120px  !important;
    
    border: 5px solid rgb(183, 186, 187) !important;

    margin-top: 20px ;
    margin-left:90px;

}

#header .profile h1{
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

#header .profile .social-links{
    
    padding-top: 10px;
    padding-bottom: 10px;

}

#header .profile .social-links a{
   
    background-color: rgba(223, 210, 210, 0.253);
    border-radius: 50%;
    color: #fff;
    transition:0.3s;
    font-size: 30px;
    padding: 7px;

}

#header .profile .social-links a:hover{
    color: rgb(27, 130, 214);
    background-color: rgba(148, 126, 126, 0.253);

}

.nav-menu ul{
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -20px !important;
}

.nav-menu ul li{
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(46, 43, 43);
    margin-left: 0px;

    
}

.nav-menu ul a{
    text-decoration: none;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-left: 5px;

}

.nav-menu ul a span {
    position: relative;
    left: 50px;
        
}

#maincontent{
    margin-left: 300px;
}

.fa-bars{
    display: inline-block;
    position:fixed;
    right: 15px;
    top: 15px;
    font-size: 30px !important;
}

.fa-times{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    font-size: 30px !important;

}


@media (min-width: 1200px){
    #menubutton{
        visibility: hidden;
    }

    #header{
        width: 300px;
        opacity: 1 !important;
    }

    #menubutton, #closebtn{
        visibility: hidden;
    }
}

@media (max-width:1200px) {

    #maincontent{
        margin-left: 0px;
    }

    #header{
        opacity: 0;
    }

    
}







/* =====background image showcase ========= */

.showcase{
    display: block;
    height: 600px;
    background-color: blue;
    text-align: center;
    padding-top: 190px;
    text-transform: uppercase;
    background-image: url('bgimage.jpg');
    background-size: cover;

}

#hi{
    font-size: 2em;
    font-family: monospace;
    color: rgb(43, 110, 105);
    display: inline-block;
    margin-right: 2%;
    background-color: azure;
}

#name{
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
}

/* ======= about ======= */


#skills{
    clear: both;
    padding-top: 10%;

}

.image-container{

    display:block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
    padding-bottom: 7%;
}

.center{
    text-align: center;
}

