
/* background image */

#topcover{
    background-image: url('hotelcover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* user icon */
.user-icon{
    font-size: 35px;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    color: black;
    clear: both !important;
}

/* edureka logo */

.logo-text{

    position: relative;
    top: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

logo-container{
    clear: both !important;
    margin-top: 40px;

}

/* search and location box */

input[name='hotel']{
    height: 50px; 
    background-color: whitesmoke;
    color: gainsboro;
    text-align: center;
    font-family: fantasy;
    margin: 0px;
    font-size: 30px;
    

}

input[name='location']{
    height: 50px; 
    background-color: whitesmoke;
    color: gainsboro;
    text-align: center;
    font-family: fantasy;
    margin: 0px;
    font-size: 30px;

}

.dropdown-container{
    padding-bottom: 60px;
}

/* find the best restaurants and food items */

#caption{
    margin-top: 10px;
	color: gainsboro;
	font-family: fantasy;
	font-size: 30px;
    background-color: black;
   
	

}

#caption>a{

    text-decoration: none !important;
    color:white;

}

/* quick searches and find food items */

.quick{
	font-family: serif ;
	font-size: 35px;
	font-weight: bold;
	margin: 1%;


}


.food{
	font-family: fantasy;	
	font-size: 20px;
	color: grey;
	margin: 1%;
	border: 2px grey;
	border-style: solid;

    position: absolute;
    right: 0;
    top: 0;

}

/* hotels list display area */
.hotel-info-container{
    box-shadow: 10px 10px 5px grey;
    border-radius: 2%;
    display: inline-block;
    margin: 3%;
}

.hoteldetails{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    padding-left: 1%;

}

.hotelimage{

    width: 40%;
    float: left;
    
}

